.youtube-thumnail {
    display: block;
    text-align: center;
  
}

.youtube-thumnail  iframe{
    width: 500px;
    height: 300px;
}

@media all and (max-width: 768px) {
    .youtube-thumnail  iframe{
        width: auto;
        height: auto;
    }
}