.youtube-thumnail {
    display: block;
    text-align: center;
  
}

.youtube-thumnail  iframe{
    width: 500px;
    height: 300px;
}

@media all and (max-width: 768px) {
    .youtube-thumnail  iframe{
        width: 100%;
        height: 250px;
    }
}

.movie-content-wrap {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}
.movie-content-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.movie-content-wrap img {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.sp-spacer {
	display: none;
	width: 1px;
	height: 1px;
}
@media screen and (max-width: 768px) {
	.sp-spacer {
		display: block;
	}
}